/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
//test
/* Posts and pages */
// body{background-color:rgb(37, 35, 35);}
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}


.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

/* Footer */
.site-footer{
	background-color: $color_background-navy;
	color: #fff;
	.footer-wrapper{
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		max-width: $desktop_width;
		padding: $base__space-unit/2;
		// adds padding to just the children of footer-wrapper
		& > *{
			padding: 0 $base__space-unit/2;
		}
		.footer-info{
			flex: 0 1 50%;
			@include desktop() {
				flex: 0 1 30%;
				}
		}
		.footer-socials{
			flex: 0 1 50%;
			@include desktop() {
				flex: 0 1 30%;
				}
			button{
				width: 100%;
				background-color: $color_feature-coral;
			}
		}
		.footer-sign-up{
			flex: 0 1 100%;
			@include desktop() {
				flex: 0 1 35%;
				}
		}
	}
	input[type="email"]{
		width: 100%;
		margin-bottom: $base__space-unit/1.25;
	}
	a{
		color: $color_feature-coral;
	}
}

//Gravity Form 

#page {

	.gform_heading{
		
	}
}