/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
//test
/* Posts and pages */
body{
background-color: $color__background-pre;
}
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}


.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

/* Footer */
.site-footer{
	background-color: $color_background-navy;
	color: #fff;
	.footer-wrapper{
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		max-width: $desktop_width;
		padding: $base__space-unit/2;
		// adds padding to just the children of footer-wrapper
		& > *{
			padding: 0 $base__space-unit/2;
		}
		.footer-info{
			flex: 0 1 50%;
			@include desktop() {
				flex: 0 1 32%;
				}
			h2{
				margin-bottom: 0;
				&:nth-child(2){
					margin-top: 0;
				}
			}
			p{
				margin: 0 0 $base__space-unit /4;
			}
			a{
				text-decoration: none;
			}
			li{
				&:first-child{
					padding-top: $base__space-unit /4 ;
				}
			}	
		}
		.find-us-class{
			flex: 0 1 50%;
			text-align: center;
			@include desktop() {
				flex: 0 1 32%;
				text-align: left;
				}
			i{
				fill: #fff;
				color: #fff;
				padding: 0 $base__space-unit /2 ;
				font-size: 1.5rem;
				&:first-child{
					padding-left: 0;
				}
				@include desktop(){
					font-size: 1.65rem;
				}
			}	
			button{
				width: 100%;
				background-color: $color_feature-coral;
				font-size: 1em;
				padding-top: $base__space-unit/1.5;
				padding-bottom: $base__space-unit/1.5;
				@include desktop(){
					width: auto;
				}
			}
			
		}
		.social-icons{
			padding-top: 12px;
		}
		.footer-sign-up{
			flex: 0 1 100%;
			word-wrap: break-word;
			.medium{
				width: 100% !important;
			}
			@include desktop() {
				flex: 0 1 35%;
				}
				.top_label{
					padding-top: 0;
					margin-top: 16px;
				}
			#input_1_1{
				padding-bottom: 0;
				margin-top: 6px !important;
				font-size: 1.15rem;
			}
			#gform_submit_button_1{
				width: 25%;
				@include desktop(){
					width: 50%;
					padding-top: $base__space-unit/1.5;
					padding-bottom: $base__space-unit/1.5;
				}
			}
			.form-no-title{
				margin-top: 0 !important;
			} 
			.gform_heading,.gform_description{
				margin-bottom: 0 !important;
			}
			.gform_wrapper .left_label li.hidden_label input{
				margin-top: 0 !important;
			}
			.gform_wrapper .top_label div.ginput_container{
				margin-top: 0 !important;
			}	
		}
	}
	input[type="email"]{
		width: 100%;
		height: 350px;
		margin-bottom: $base__space-unit/1.25;
	}
	a{
		color: $color_feature-coral;
	}
}



