.page-membership {
  // background-color: black;

  @include desktop {
    // width: 1400px;
    // display: flex;
    // justify-content: center;
    .site {
      width: $desktop-width;
      background-color: $color_background-light;
    }
  }
  .entry-header {
    visibility: hidden;
  }
  .entry-content {
    margin-top: 0px;
  }
  .entry-title {
    margin: 0px;
    height: 0px;
  }

  .banner {
    padding: 0 1rem;
    background-color: $color_background-body;
    padding-bottom: 3rem;
    .join-mobile {
      font-size: 3rem;
      margin-bottom: 0rem;
    }
    .banner-title {
      margin-top: 0rem;
      @include desktop {
        font-size: 3rem;
      }
    }
    .banner-blurb {
      strong {
        font-weight: normal;
        @include desktop {
          font-weight: bold;
        }
      }
    }
    .wp-block-columns {
      justify-content: center;
      align-content: center;
    }
    .wp-block-column:first-child {
      order: 2 !important;
    }
    .wp-block-column:last-child {
      order: 1 !important;
    }
    .banner-image {
      margin: 0 0 auto;
      object-fit: cover;
      display: flex;
      justify-content: center;
    }
    @include desktop {
      display: flex;
      justify-content: center;
      min-width: $desktop-width;
      h2 {
        font-size: 2rem;
      }
      .wp-block-columns {
        justify-content: center;
      }
      .banner-image {
        width: 330px;
      }

      .join-mobile {
        visibility: hidden;
      }
      .wp-block-column:first-child {
        order: 1 !important;
      }
      .wp-block-column:last-child {
        order: 2 !important;
        img {
          object-position: center;
        }
      }
      .wp-block-group__inner-container {
        width: $desktop-width;
      }
      .banner-image {
        justify-content: center;
      }
    }
  }
  .benefits-container,
  .course-container {
    padding: 0 1rem;
    .benefits-image {
      text-align: center;
      margin: 0px !important;
      img {
        object-fit: cover;
        width: 100%;
      }
      figcaption {
        margin: 0px;
      }
    }
    h3 {
      margin-top: 0px !important;
    }
  }

  .join-banner {
    padding: 2rem 1rem 2rem 1rem;
    background-color: $color_background-navy;
    color: white;
    .annual-button {
      display: flex;
      justify-content: center;
      margin-bottom: 0.5rem;
      a {
        background-color: $color_feature-coral;
      }
    }
    .monthly-button {
      display: flex;
      justify-content: center;
      a {
        background-color: $color_feature-teal-light;
      }
    }
    @include desktop {
      .join-buttons {
        justify-content: space-around;
        .annual-button {
          justify-content: right;
        }
        .monthly-button {
          justify-content: left;
        }
      }
    }
  }
  .light-teal-color {
    color: $color_feature-teal-light;
    @include desktop {
      color: black;
    }
  }
  .course-container {
    .course-image {
      display: flex;
      justify-content: center;
      img {
        margin: 0px;
        max-width: 100%;
        width: 100%;
        height: 200px;
        object-fit: cover;
        background-position: bottom;
      }
    }
    @include desktop {
      .course-image {
        margin: 0px;
      }
    }
  }
  .entry-content {
    .inner-title {
      margin: 1rem !important;
      @include desktop {
        h4 {
          margin: 0px;
          font-size: 1rem;
        }
      }
    }
  }
  .founder-image {
    figcaption {
      visibility: hidden;
      height: 0px;
      display: none;
    }
  }
  .founder-blurb {
    margin: 1rem;
  }
  .entry-content {
    @include desktop {
      .inner-title {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
      }
      display: flex;
      align-content: center;
      flex-direction: column;
      .benefits-column {
        max-width: $desktop-width;
        .benefits-container {
          max-width: $desktop-width/3;
          .benefits-image {
            height: 360px;

            img {
              max-width: $desktop-width/3;
              height: 330px;
            }
          }
          .benefits-title {
            font-size: 1.5rem;
          }
        }
      }
    }
    .wp-block-columns:last-child {
      padding-top: 70px;
    }
    .founder-blurb {
      margin: 0;
      h3 {
        margin-top: 0rem;
        font-size: 2rem;
      }
    }
    .founder-image {
      margin-top: 0rem;
    }
  }
  .note-from-founder {
    color: $color_feature-teal-light;
  }
}
