.page-membership {
  background-color: $color_background-light;

  .entry-header {
    visibility: hidden;
  }
  .entry-content {
    margin-top: 0px;
  }
  .entry-title {
    margin: 0px;
    height: 0px;
  }

  .banner {
    padding: 0 1rem;
    background-color: $color_background-body;
    padding-bottom: 3rem;
    .join-mobile {
      font-size: 3rem;
      margin-bottom: 0rem;
    }
    .banner-title {
      margin-top: 0rem;
    }
    .banner-blurb {
      strong {
        font-weight: normal;
      }
    }
    .wp-block-columns {
      justify-content: center;
      align-content: center;
    }
    .wp-block-column:first-child {
      order: 2 !important;
    }
    .wp-block-column:last-child {
      order: 1 !important;
    }
    .banner-image {
      margin: 0 0 auto;
      object-fit: cover;
      display: flex;
      justify-content: center;
    }
    @include desktop {
      .join-mobile {
        visibility: hidden;
      }
      .wp-block-column:first-child {
        order: 1;
      }
      .wp-block-column:nth-child(2) {
        order: 2;
      }
    }
  }
  .benefits-container,
  .course-container {
    padding: 0 1rem;
    .benefits-image {
      text-align: center;
      margin: 0px !important;
      img {
        object-fit: cover;
        width: 100%;
      }
      figcaption {
        margin: 0px;
      }
    }
    h3 {
      margin-top: 0px !important;
    }
  }

  .join-banner {
    padding: 2rem 1rem 2rem 1rem;
    background-color: $color_background-navy;
    color: white;
    .annual-button {
      display: flex;
      justify-content: center;
      margin-bottom: 0.5rem;
      a {
        background-color: $color_feature-coral;
      }
    }
    .monthly-button {
      display: flex;
      justify-content: center;
      a {
        background-color: $color_feature-teal-light;
      }
    }
  }
}
.light-teal-color {
  color: $color_feature-teal-light;
}
.course-container {
  .course-image {
    display: flex;
    justify-content: center;
    img {
      margin: 0px;
      max-width: 100%;
      width: 100%;
      height: 200px;
      object-fit: cover;
      background-position: top;
    }
  }
}
.entry-content {
  .inner-title {
    margin: 1rem !important;
  }
  .pad {
    padding: 1rem;
  }
}
.founder-image {
  figcaption {
    visibility: hidden;
    height: 0px;
    display: none;
  }
}
.founder-blurb {
  margin: 1rem;
}
