.ul-no-style {
		list-style: none;
		margin: 0;
        padding-left: 0;
        li{
            padding: $base__space-unit/2 0 0 0;
        }
}
.max-width-container{
	margin: 0 auto;
	max-width: 1024px;
}

.hidden-content{
    visibility: hidden;
}
.hidden{
    display: none;
}