.training-page {
  background-color: $color_background-body;
}
.entry-title {
  font-size: 24px;
}

@include desktop {
  font-size: 36px;
  order: 1;
}

.post-location {
  font-size: 16px;
  font-weight: bold;
  color: $color_feature-teal-medium;
}

.post-layout {
  margin: 20px 20px;
  padding: 1rem;
  background-color: $color_background-light;
  border-radius: 7px;
}
@include desktop {
  margin: 20px 150px;
}

.btn-flex {
  display: flex;
  justify-content: center;
}
.apply-btn {
  border-radius: 4px;
  border: 3px solid $color_feature-purple-regular;
  background: none;
  padding: 0.9rem 8rem;
  margin: 1rem;

  &:hover {
    border-color: $color_feature-purple-light;
    box-shadow: none;
  }

  &:active,
  &:focus {
    border-color: $color_feature-purple-light;
    box-shadow: none;
  }
  @include desktop {
    padding: 0.6rem 3.5rem;
    margin: 1rem;
    order: 2;
  }
}

.purple-text {
  color: $color_feature-purple-regular;
}
